[Unit]
Description=Check family-life TLS renewal twice daily

[Timer]
OnCalendar=*-*-* 03,15:15:00
RandomizedDelaySec=30min
Persistent=true
Unit=family-life-cert-renew.service

[Install]
WantedBy=timers.target
